.container {
    max-width: 80%;
    color: white;
    margin: 0 auto;
    min-height: 60vh;
}

.date {
    text-align: right;
    margin: 2rem 0;
    text-decoration: underline;
}

.content {
    text-align: justify;
}
