.container {
    margin: 5rem auto;
}

.card_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 90%;
    margin: 3rem auto;
}

@media (min-width: 768px) {
    .card_section {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1120px) {
    .card_section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}