.card_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
}

.latest_blog_section {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .card_section {
        flex-direction: column;
    }
}