
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 60vh;
    margin-top: 2rem;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from { opacity: 0; scale: 0;}
    to {  opacity: 1; scale: 1;}
}


.container p {
    color: white;
    max-width: 40%;
    text-align: justify;
    line-height: 2rem;
}

.image {
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 0rem;
    }
}