
.cards_section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    background-color: transparent;
    max-width: 1000px;
    margin: 30px auto;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from { opacity: 0; scale: 0;}
    to {  opacity: 1; scale: 1;}
}


@media (min-width: 780px) {
    .cards_section {
        grid-template-columns: 1fr 1fr;
    }
}