
.container {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 1rem auto;
    cursor: pointer;
    animation: translate-in linear;
    animation-timeline: view();
    animation-range-end: 50vh;
}

@keyframes translate-in {
    from { opacity: 0; scale: 0; }
    to {  opacity: 1; scale: 1; }
}

.container:hover {
    transform: scale(1.1);
}

.image {
    border-radius: 10px;
}

.heading_container {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    text-transform: capitalize;
}

.button, .content {
    display: none;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        color: white;
        padding: 2rem;
        gap: 1rem;
        width: 80vw;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .image {
        border-radius: 1rem;
    }
    
    .heading_container {
        position: static;
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .heading_container h2 {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        color: black;
    }

    .button, .content {
        display: block;
    }
    
}